<div id="logotype_form_<%= dom_id logotypable %>" class="form_entry">
  <div class="form_label"><%= title %></div>
  <div class="form_data logotype_form">
    <%= file_field_tag "#{ logotypable_name }[_logotype][media]" %>
    <%= preview logotypable.logotype %>
  </div>
</div>
