<%% form_tag forgot_password_<%= table_name %>_path do -%>
<p>
  <label for="email">Email</label><br/>
  <%%= text_field_tag 'email', params[:email] %>
</p>

<p><%%= submit_tag 'Send Reset Password Request' %></p>
<%% end -%>
