#agents {
  position: absolute;
  top: 60px;
  left: 493px;
  max-width: 465px; width: 465px; min-width: 465px;
  min-height: 88px; height: 88px; max-height: 88px;
  background-color: transparent;
  text-align: center;
}

#agents #agents_top {
  max-width: 465px; width: 465px; min-width: 465px;
  min-height: 5px; height: 5px; max-height: 5px;
  background-color: transparent;
}

#agents #agents_center {
  max-width: 465px; width: 465px; min-width: 465px;
}


