#containers {
  position: absolute;
  top: 60px;
  left: 8px;
  max-width: 465px; width: 465px; min-width: 465px;
  min-height: 88px; height: 88px; max-height: 88px;
  background-color: transparent;
}

#containers #containers_top {
  max-width: 465px; width: 465px; min-width: 465px;
  min-height: 5px; height: 5px; max-height: 5px;
  background-color: transparent;
}

#containers #containers_center {
  max-width: 465px; width: 465px; min-width: 465px;
}

