#meta {
  position: absolute;
  top: 5px;
  left: 15px;
  min-height: 40px; height: 40px; max-height: 40px;
  background-color: transparent;  /*background-color: black;*/
  text-align: left;
  width: 910px;

}

#meta #meta_top {
  border-bottom: 1px solid #92D585;
  margin-bottom: 5px;

}

#meta #meta_top h1 {
  margin: 3px 0px 7px 0px;
  color: #92D585;
  font-size: 2.2em;
  font-weight: bolder;
}
  /*
#meta #meta_center {
max-width: 125px; width: 125px; min-width: 125px;
  min-height: 110px; height: 110px; max-height: 110px;
}

#meta #meta_center #move_logo {
  left: 15px;
  top: 15px;
  position: absolute;
}

*/

#meta #meta_bottom {
  margin-top: -36px;
  float: right;
  min-height: 30px; height: 30px; max-height: 30px;
}

#meta #meta_bottom a {
  display: block;
  float: right;
  min-height: 18px; height: 18px; max-height: 18px;
  background-color:#171717;
  background-position: 5px 7px;
  background-repeat: no-repeat;
  padding:10px 8px 2px 25px;
  color: white;
  margin-left: 5px;
  text-decoration: none;
  font-size: 1em;
}


#meta #meta_bottom a#logout {
  background-image: url('../images/move_css/logout.png');
}

#meta #meta_bottom a#logout:hover {
  background-image: url('../images/move_css/logout_hover.png');
  color: #D76C6C;
}

#meta #meta_bottom a#site_config {
  background-image: url('../images/move_css/config.png');
}

#meta #meta_bottom a#site_config:hover {
  background-image: url('../images/move_css/config_hover.png');
  color: #cba1e3;
}

  /*max-width: 100px; width: 100px; min-width: 100px;
  min-height: 50px; height: 50px; max-height: 50px;
  background-color: transparent;
  margin-left: 27px;
}

#meta #meta_bottom #meta_public_content {
  max-width: 65px; width: 65px; min-width: 65px;
  min-height: 20px; height: 20px; max-height: 20px;
  background: transparent url('../images/move_css/background_logo_public_contents.png') no-repeat top center;
  display: block;
  margin: 0px;
  padding-left: 38px;
  padding-top: 22px;
  font-size: 12px;
  color: #92d585;
  font-weight: bolder; 
  text-decoration: none;
}

#meta #meta_bottom #meta_public_content:hover {
  color: white;
}

*/
