/*****************************
File: MOVE default CSS engine
Version: 0.1
Author: David Tapiador © 2007
License: GPL

  Description of desing idea of default theme in move:
========================================================

MOVE default engine tries to make the movements easier. The perspective
is the concept of movement, somthing in continuos (r)evolution.

MOVE allows the user and containers to comunicate the concepts is this way.

There are three differents space. Menu_Agents, Menu_Concepts, Interaction_Screen

The two firsts, respond to the same concept that the full application.
Agent is the concept that create content, the content is the concept that
is created by the Agents, and belongs to them.

The interaction_screen render the different information by mixing the
two menus selections

In this scenario, these three differents space have a similar design structure.
Each div have and other four div's inside, that results...

\-div_*
 \-div_*_top
 |-div_*_center
  \-div_*_center_inside
 |-div_*_bottom

With these construction, we have a real scalable graphic design that give the chance to play 
with rounded borders, degradeed backgrounds and other's eye'candy improvement, in all the areas...

We hope be usefull!!

*/

@import url('meta.css');
@import url('agents.css');
@import url('containers.css');
@import url('contents.css');
@import url('form.css');
@import url('session.css');
@import url('footer.css');
@import url('login.css');
@import url('notification_area.css');
@import url('actions.css');
@import url('sortable.css');

/* General class */
body {
  /*background-color: #f8e6dc;*/
  background: black url('../images/move_css/background_body.gif') repeat top left;
  max-width: 1024px; width: 1024px; min-width: 1024px;
  min-height: 768px; height: 768px; max-height: 768px;
  margin: auto;
  text-align: center;
  font-family: "Lucida Grande",Geneva,Arial,Verdana;
  font-size: 12px;
}



/* PENDING DEPRECATED */

a.action {
  color: #55127b;
  text-decoration: none;
  font-size: 13px;
  display: block;
  padding-left: 25px;
  line-height: 22px;
}

a.action:hover {
  text-decoration: none;
  background-color: #c9eabd;
}

a.add {
  background: transparent url('../images/move_css/add.png') no-repeat top left;
} 
a.view {
  background: transparent url('../images/move_css/view.png') no-repeat top left;
} 
a.edit {
  background: transparent url('../images/move_css/edit.png') no-repeat top left;
} 
a.delete {
  background: transparent url('../images/move_css/delete.png') no-repeat top left;
} 
a.info {
  background: transparent url('../images/move_css/info.png') no-repeat top left;
} 


a.action:hover {
  text-decoration: none;
  background-color: #c9eabd;
}

img { border: 0px; }

/*Wrap div...give this div container the relative position allow you to play with absoulte position inside the layer continer, crossbrownser fix for different paddings and margins meening between all the brownsers and i.explorer */
#wrap {
  position: relative;
  max-width: 1024px; width: 1024px; min-width: 1024px;
  min-height: 768px;
  margin: auto;
  text-align: center;
}

/* we give the choice in move, to play with background images... */
#background {
}




/* Menu_box div... the creators... solemnity, with also artistical! */
#menu_box {
  position: absolute;
  top: 22px;
  left: 37px;
  max-width: 964px; width: 964px; min-width: 964px;
  min-height: 121px; height: 121px; max-height: 121px;
}

#menu_box_top {
  max-width: 964px; width: 964px; min-width: 964px;
  min-height: 48px; height: 48px; max-height: 48px;
  background: transparent url('../images/move_css/background_menu_box_top.png') no-repeat top center;
  margin: 0px;
}

#menu_box_center {
  max-width: 964px; width: 964px; min-width: 964px;
  min-height: 73px; height: 73px; max-height: 73px;
  margin: 0px;
}

#menu_box_center_inside {
  position: relative;
  top: -37px;
  left: 99px;
  background-color: transparent;
  max-width: 708px; width: 708px; min-width: 708px;
  min-height: 88px; height: 88px; max-height: 88px;
}

#menu_box_agents {
 position: relative;
 max-width: 454px; width: 454px; min-width: 454px;
 min-height: 88px; height: 88px; max-height: 88px;
 float: left;
}

#menu_box_containers {
 position: relative;
 max-width: 454px; width: 454px; min-width: 454px;
 min-height: 88px; height: 88px; max-height: 88px;
 float: right;
}

#menu_box_agents .box_botton_left, #menu_box_containers .box_botton_left {
 float: left;
 max-width: 23px; width: 23px; min-width: 23px;
 min-height: 88px; height: 88px; max-height: 88px;
 background: transparent url('../images/move_css/box_arrow_left.png') no-repeat top center;
}

#menu_box_agents .box_botton_right, #menu_box_containers .box_botton_right {
 float: left;
 max-width: 23px; width: 23px; min-width: 23px;
 min-height: 88px; height: 88px; max-height: 88px;
 background: transparent url('../images/move_css/box_arrow_right.png') no-repeat top center;
}

#menu_box_agents .box_view_container, #menu_box_containers .box_view_container {
 text-align: left;
 float: left;
 width: 408px;
 min-height: 88px; height: 88px; max-height: 88px;
 background: transparent url('../images/move_css/background_box_view.png') repeat-x top center;
 overflow: hidden;
 position: relative;
}

#menu_box_agents .box_view_wrapper, #menu_box_containers .box_view_wrapper {
 position: absolute;
 width: 408px;
 min-height: 60px; height: 60px; max-height: 60px;
 top: 25px;
 left: 0px;
 overflow: hidden;
 white-space:nowrap;
 display: inline;
}

#menu_box_agents .box_view_list, #menu_box_containers .box_view_list {

display: inline;
}

div.box_view_container span.box_title {
  display:block;
  margin-top: 5px;
  margin-left: 7px;
  color: white;
  /*font-family: 'Monospace';*/
  font-size: 16px;
  font-weight: bold;
}

div.box_view_list div.box_unit {
  max-width: 62px; width: 62px; min-width: 62px;
  min-height: 62px; height: 62px; max-height: 62px;  
  display: table-cell;
  position: relative;
  padding-right: 13px;

}

div.box_view_list img {
  max-width: 58px; width: 58px; min-width: 58px;
  min-height: 48px; height: 48px; max-height: 48px;
  display: inline;
  float: none;
  clear: both;
}

div.box_view_list span.box_unit_title {
  max-width: 60px; width: 60px; min-width: 60px;
  display: block;
  overflow: hidden;
  color: black;
  /*font-family: 'Sans';*/
  font-size: 12px;
  text-align: center;
  margin-top: -4px;


}



#interaction_screen {
  position: relative;
  top: 155px;
  left: 210px;
  max-width: 777px; width: 777px; min-width: 777px;
  min-height: 512px;
  background-color: transparent;
  
}

#interaction_screen_top {
  max-width: 777px; width: 777px; min-width: 777px;
  min-height: 22px; height: 22px; max-height: 22px;
  background: transparent url('../images/move_css/background_interaction_screen_top.png') no-repeat top center;
}

#interaction_screen_bottom {
  max-width: 777px; width: 777px; min-width: 777px;
  min-height: 22px; height: 22px; max-height: 22px;
  background: transparent url('../images/move_css/background_interaction_screen_bottom.png') no-repeat top center;

}

#interaction_screen_center {
  max-width: 777px; width: 777px; min-width: 777px;
  min-height: 512px;
  background: transparent url('../images/move_css/background_interaction_screen_center.png') repeat-y top center;

}

#interaction_screen_center_inside {
  max-width: 716px; width: 716px; min-width: 716px;
  min-height: 512px;
  left: 31px;
  margin: 0px;
  position: relative;
  text-align: left;
  color: white;
}

#interaction_screen_center_inside h2 {
  /*background: transparent url('../images/move_css/background_interaction_title.png') repeat-x top center;*/
  min-height: 34px; height: 34px; max-height: 34px;
  max-width: 680px; width: 680px; min-width: 680px;
  margin: 0px 15px 0px 10px;
  font-size: 1.7em;
  color: #92d585;
  border-bottom: 1px solid #92d585;
  /*font-family: 'Sans';*/
  font-weight: bold;
}

#interaction_screen_center_inside div.paginator {
  margin: -27px 180px 0px 0px;
  float: right;
  color: #7e7e7e;
}

#interaction_screen_center_inside div.paginator a {
color: #92d585;
}



#interaction_view {
position: relative;
left: 16px;
top: 16px;
min-height: 462px; height: 462px; max-height: 462px;
max-width: 684px; width: 684px; min-width: 684px;
background-color: transparent;

}

#interaction_view #list_view {
float: left;
min-height: 462px; height: 462px; max-height: 462px;
max-width: 684px; width: 684px; min-width: 684px;
background-color: transparent;
}

#interaction_view #list_view a {
  text-decoration: none;
  color: white;
}

#interaction_view #detail_view {
float: left;
position: relative;
top: -16px;
right: -16px;
min-height: 498px; height: 498px; max-height: 498px;
max-width: 154px; width: 154px; min-width: 154px;
/*border-left: 2px solid #272727;*/
padding-left: 8px;
font-size: 14px;
overflow: hidden;
background: #e1d9ff url('../images/move_css/background_detail_view.png') no-repeat bottom center;
}

#detail_view div.entry_detail {
/*display: none;*/
}

#detail_view h3 {
margin: 15px 0px 2px -8px;
padding-left: 10px;
font-size: 16px;
color: black;
font-family: 'Sans';
font-weight: bold;
font-style: italic;
}

#detail_view b {
  font-size: 14px;
  font-weight: bold;
}

#detail_view div.actions, #detail_view div.preview, #detail_view div.information  {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 10px;
}

#detail_view div.preview {
  max-width: 140px; width: 140px; min-width: 140px;
  min-height: 140px; height: 140px; max-height: 140px;
  overflow: scroll;
}

#detail_view a {
  color: #55127b;

  font-size: 13px;
  text-decoration: none;
}

#detail_view a:hover {
  text-decoration: underline;
}

#detail_view img {
  border: 0px;
}

#interaction_screen #loading_indicator {
  float: right;
  position: absolute;
  right: 30px;
  top: 3px;
  display: block;
}

#interaction_view div.entry {
  position: relative;
  float: left;
  min-height: 144px; height: 144px; max-height: 144px;
  max-width: 110px; width: 110px; min-width: 110px;
  margin-right: 20px; 
  background-color: transparent;
  font-size: 1em;
  overflow: hidden;
  margin-bottom: 8px;
  text-align: center;
}

#interaction_view div.entry img {
  margin: auto;
  display: block;
}

#interaction_view div.entry:hover {
  background: transparent url('../images/move_css/background_box_content_unit_hover.png') no-repeat top center;
}

#interaction_view div.entry div.entry_link {
  display: none;
}





#interaction_view div.entry:hover div.entry_link {
  float: right;
  top: 5px;
  color: red;
  display: block;
  position: absolute;
  text-align: right;
  right: 0px;
}
#interaction_view div.entry:hover div.entry_link img {
  cursor: pointer;
}

#interaction_view div.active_entry {
  background: transparent url('../images/move_css/background_box_content_unit_active.png') no-repeat top center;
}

#interaction_view img {
 margin-left: 3px;
 margin-top: 3px;
 margin-bottom: 3px;
 bottom: 0px;
}



#debug {
position: absolute;
top: 0px;
left: 0px;
background-color: red;
color: white;
}


a.view {
display: block;
padding-left: 25px;
background: transparent url('../images/move_css/view.png') no-repeat center left;
}

.error_action {
  background-color: #ef9d9d;
  color: red;
  border: 1px solid red;
  padding: 10px;
  font-weight: bold;
}
