
/* at last, the footer */
#footer {
  background: transparent url('/images/cms/move_css/background_footer.png') no-repeat top center;
  min-height: 33px; height: 33px; max-height: 33px;
  max-width: 956px; width: 956px; min-width: 956px;
  font-size: 12px;
  color: #272727;
  position: relative;
  top: 155px;
  margin: auto;
  left: 11px;
}
