
#login_wrap {
  position: relative;
  top: 50px;
  margin: auto;
  background: transparent url('/images/cms/move_css/background_logo_wrap.png') no-repeat top center;
  max-width: 420px; width: 480px; min-width: 480px;
  min-height: 150px; height: 150px; max-height: 150px;
  padding-top: 150px;
  padding-left: 85px;
}

#login_wrap #by_link {
  margin-bottom: 25px;
  min-height: 25px; height: 25px; max-height: 25px;

}

#login_wrap #by_link a {
  float: left;
  margin-left: 4px;
  max-width: 93px; width: 93px; min-width: 93px;
  min-height: 25px; height: 25px; max-height: 25px;
  display: block;
  background: transparent url('/images/cms/move_css/background_login_button.png') no-repeat top center;
  padding-top: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;

}



#login_wrap #by_link a:hover {
  background: transparent url('/images/cms/move_css/background_login_button_hover.png') no-repeat top center;
  color: black;
}

#by_box {
  clear: both;
  text-align: left;
}
#by_box label {
  color: black;
  font-size: 12px;
  padding-left: 4px;
}


/* General style inputs */
#login_wrap #by_box input {
  background-color: white;
  color: black;
  border: 1px solid #68ad6b;
  background-color: white;
  font-size: 11px;
  line-height: 14px;
  min-height: 18px; height: 18px; max-height: 18px;
}


/* Special inputs */
#login_wrap #by_box #password, #login_wrap #by_box #login  {   max-width: 85px; width: 85px; min-width: 85px; }
#login_wrap #by_box #go input {   max-width: 90px; width: 90px; min-width: 90px; }
#login_wrap #by_box #openid_identifier input {
  max-width: 190px; width: 190px; min-width: 190px;
}

#login_wrap #by_box #go {
  max-width: 90px; width: 90px; min-width: 90px;
  color: black;
  border: 0px;
  position: relative;
  right: 90px;
  float: right;
  top: -20px;
  
}

#login_wrap p {
  display: inline;
}

#login_wrap #by_box #new, #login_wrap #by_box #help {
  width: 250px;
  margin: auto;
}

#login_wrap #info {
  position: absolute;
  bottom: 15px;
  width: 67%;
  text-align: center;
  font-size: 10px;
  color: white;
}

#login_wrap #info a {
  font-size: 10px;
  color: white;
}


  /*background: transparent url('/images/cms/move_css/background_logo.png') no-repeat top center;  /*background-color: black;*/

