#logo {
  position: absolute;
  top: 5px;
  left: 15px;
  max-width: 125px; width: 125px; min-width: 125px;
  min-height: 150px; height: 150px; max-height: 150px;
  background: transparent url('/images/cms/move_css/background_logo.png') no-repeat top center;  /*background-color: black;*/
  text-align: left;
}

#logo #logo_center {
  max-width: 125px; width: 125px; min-width: 125px;
  min-height: 110px; height: 110px; max-height: 110px;
}

#logo #logo_center #move_logo {
  left: 15px;
  top: 15px;
  position: absolute;
}

#logo #logo_bottom {
  max-width: 100px; width: 100px; min-width: 100px;
  min-height: 50px; height: 50px; max-height: 50px;
  background-color: #272727;
  margin-left: 27px;
}

#logo #logo_bottom #logo_public_content {
  max-width: 65px; width: 65px; min-width: 65px;
  min-height: 20px; height: 20px; max-height: 20px;
  background: transparent url('/images/cms/move_css/background_logo_public_contents.png') no-repeat top center;
  display: block;
  margin: 0px;
  padding-left: 38px;
  padding-top: 22px;
  font-size: 12px;
  color: #92d585;
  font-weight: bolder; 
  text-decoration: none;
}

#logo #logo_bottom #logo_public_content:hover {
  color: white;
}
