<p>
  <b>Title</b><br />
  <%%= f.text_field :title, :size => 50 %>
</p>

<p>
  <b>Description</b><br />
  <%%= f.text_area :description, :width => '100%', :height => '300px' %>
</p>

<%%= render :partial => "#{ @content.class.to_s.tableize }/form" %>

<%% if action == :new && @content.class.content_options[:has_media] -%>
  <%%= render :partial => "posts/file_form" %>
<%% end -%>

<%%= render :partial => "posts/permissions_form", :locals => { :f => f } -%>
