<h1><%%= @title %></h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<%% for entry in @entries -%>
  <tr>
    <td><%%=sanitize entry.title %></td>
    <td><%%= link_to 'Show', entry_url(entry) %></td>
    <td><%%= link_to 'Edit', edit_entry_url(entry) %></td>
    <td><%%= link_to 'Destroy', entries_url, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%% end -%>
</table>

<br />

<%%= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path %>
