<p>
  <%= form.label :name, t('category.name') %><br />
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :description, t('category.description') %><br />
  <%= form.text_area :description %>
</p>

