<h2><%= title %></h2>

<%= sortable_list(@categories, Category, :path => current_container.to_ppath) %>

<br />

<%= link_to 'New category'.t, new_polymorphic_path([ @container.to_ppath, Category.new ]) %>
