<h2><%= sanitize @category.name %></h2>
<p>
<%= sanitize @category.description %>
</p>

<%= link_to t(:edit), edit_polymorphic_path(@category) %> |
<%= link_to t(:index), polymorphic_path([ @container, Category.new ]) %>
